
body{
    background-color: #FACCDB;
    font-family: "Jersey 10", sans-serif;
}


#top-page {
    background-color: #FACCDB;
    margin-top: 2rem;
    padding-top: 10px;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    line-height: 1;

   
}
 #container {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/124/231/original/portfolio_index_wallpaper.jpeg?1713997314"); 
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center center;
    margin-bottom: 3rem;
    height: auto;
    background-color: #FACCDB;
    padding: 25%;
  
}

.btn, #btn-1 {
    background-color: #caa9c889;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/124/959/original/tsunadeicon.png?1714457472") ;
    background-repeat: no-repeat;
    background-position: left;
    border-color: #bf8ba2;
    border-radius: 15%;
    width: 8rem;
    padding: 1rem;
    color:#bf8ba2;
    font-family: "Jersey 10", sans-serif;
    text-align: right;
    font-size: 24px;
    margin: 10px;
    position: top left;
    box-shadow: 0 15px 15px #ba7996;
}

#btn-2 {
    background-color: #caa9c889;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/124/958/original/download_%281%29.png?1714457444") ;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
    border-color: #bf8ba2;
    width: 8rem;
    padding: 1rem;
    color:#bf8ba2;
    font-family: "Jersey 10", sans-serif;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
}

button :hover{
    cursor: pointer;
    transition: ease-in-out 0.05s;
}

p {
    padding: 20px;
    border-radius: 4px;
    font-size: 24px;
    line-height: 1;
    text-align: center;
  }

#box-image {
    background:#E0B8D0;
    border-radius: 10px;
  
    border-left: 3rem solid #E0B8D0;
    border-right: 3rem solid #E0B8D0;
    vertical-align: auto;
  }

.btn-app {
    background-color: #caa9c889;
    border-color: #bf8ba2;
    border-radius: 15px;
    width: 170px;
    padding: 10px;
    color:#bf8ba2;
    font-family: "Jersey 10", sans-serif;
    font-size: 16px;
    
    margin:auto;
    box-shadow: 0 15px 15px #caa9c8;

}

.btn-app:hover {
    background-color: #e0b8d040;
    border-color: #caa9c8;
    color:#bf8ba2;
    cursor: pointer;
    transition: ease-in-out 0.05s;
}

.mb-3 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline dashed #bf8ba2;
}

#cont-1 {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

footer {
    padding-bottom: 1rem;
}

.navbar > .container-fluid,
.navbar > .container,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  font: 1.5em "Jersey 10", sans-serif;
  text-align: space-between;
  padding: 0.3rem;
}
.container-fluid {
   background-color: #E5AEC7;
    padding: 0.3rem;
    top: 0px;
    box-shadow: 0 0px 50px #bf8ba2;
}

.navbar-toggler-icon {
   
    background-color:#FACCDB;
}
 .navbar-toggler {
    margin-top: 2px;
    background-color:#FACCDB;
    box-shadow: 0 10px 15px #bf8ba2;
    border-color: #bf8ba2;
    
 }



